@import "tailwindcss";
@import "tailwindcss-primeui";

* {
  font-family: "Poppins", sans-serif;
  /* font-size: 13px;  */
}

html {
  scroll-behavior: smooth;
}

/* div {
  border: 1px solid #000;
} */

.container-custom {
  @apply container mx-auto px-1 lg:px-20;
}

html {
  scroll-padding-top: 100px; /* Ajusta este valor al alto de tu header */
  /* Si tu header mide 64px, puedes poner 64px o un poco más para un respiro */
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}
